/* small phones from 0 to 480px*/

@media only screen and (max-width: 320px) {



    .map {

        width: 100%;
    }

    .underlineHover {
        float: right;
        margin-left: 0rem;
    }

    .sign {
        display: block;
        margin-left: 2rem;
    }

    .i-area {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .contact2 {


        margin-top: 1rem;

    }

    .contact-data {

        margin: 0rem;
    }

    body {

        margin: auto;
        overflow-x: hidden;
        overflow-y: hidden;

    }

    .fa-gratipay {

        right: 26rem;

    }

    .bg-light {
        text-align: center;

    }

    .home-nav {

        background: rgb(30, 30, 97);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .nav1 {

        margin-right: 2rem;
    }

    .home-nav1 {

        background: rgb(243, 235, 235);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .n-hov4 {

        border-right: none;

    }


    .n-hov {

        display: block;

    }

    .home-nav1 a {

        border-left: none;
        padding: 2rem 2rem;

    }

    .acc-hov {
        margin-right: 0rem !important;
        border-left: none !important;
        display: block;
    }

    .icon {
        text-align: center;
        padding-right: 0rem;
        padding-left: 0rem;

    }

    .navbar-toggler {

        background-color: #00000014;
        border: 1px solid transparent;

    }

    #header {

        text-align: center;

    }

    .header-text {
        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.5rem;
    }


    .header-img {

        width: 100%;

    }

    .h-img {

        display: none;
        visibility: hidden;

    }

    .a-img {

        display: none;
        visibility: hidden;

    }

    .h-img1 {

        display: block;
        visibility: visible;

    }

    .a-img1 {

        display: block;
        visibility: visible;

    }



    .about-text {

        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
    }

    .header-p {

        text-align: center;

    }

    .article-card {
        width: 14rem !important;
    }

    .don {

        text-align: center;
        margin-top: 1rem;
    }

    .donate-div {
        padding-top: 0rem;
    }

    .input-group {
        width: 49%;
        margin: auto;
    }

    .app-img {

        visibility: hidden;
        display: none;


    }

    .app-img1 {

        display: block;
        visibility: visible;

    }

    .app-text {

        color: rgb(27, 25, 25);
        font-weight: bold;
        margin-top: 3rem;
        text-align: center;

    }

    .app-p {

        font-size: 1rem;
        text-align: center;

    }

    .app-icon {

        width: 130px;
        height: 50px;
        text-align: center;
    }

    .app-icons {

        text-align: center;
    }

    #contact-us {

        padding: 1rem;
        background-size: cover;

        padding-bottom: 3rem;


    }

    .contact-content {

        display: block;
        margin: auto;
        margin-bottom: 2rem;

    }

    .whatsapp {

        padding: 1rem 1.1rem;
        background-color: rgb(46, 124, 46);
        color: white;
        border-radius: 50px;
        margin: auto;
        font-size: 1rem;

    }

    .wts-img {

        text-align: left;
        position: absolute;
        top: 319rem;
        width: 50px;
        margin-right: -0.01rem;

    }

    .select-home {
        padding: 1rem 3rem;
        margin-bottom: 0.5rem;
    }

    #footer-container {
        margin: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
    }

    .sub {

        width: 24%;

        display: contents;

    }

    .outer {

        margin: auto;
        text-align: center;
    }


    .footer-text {
        text-align: center;
        padding-bottom: 1rem;
    }

    .n-hov5 {

        padding-top: 1rem;
        margin-bottom: 0rem;

    }

    .icon2 {

        text-align: center;
        margin-right: 0rem;

    }

    .copy {

        display: inline-block;

    }

    .copy-right {

        display: flex;
        margin: auto;
        text-align: center;
        padding-top: 1rem;
    }

}

@media only screen and (min-width: 321px) and (max-width:374px) {

    .underlineHover {
        float: right;
        margin-left: 0rem;
    }

    .sign {
        display: block;
        margin-left: 2rem;
    }

    .i-area {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .contact1 {

        margin-left: 0rem;
    }

    .contact2 {


        margin-top: 1rem;

    }

    .contact-data {

        margin: 0rem;
    }

    .select-home {
        padding: 1rem 3rem;
        margin-bottom: 0.5rem;
    }

    body {

        margin: auto;
        overflow-x: hidden;
        overflow-y: hidden;

    }

    .fa-gratipay {

        right: 28.5rem;
    }

    .bg-light {
        text-align: center;

    }

    .home-nav {

        background: rgb(30, 30, 97);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .home-nav1 {

        background: rgb(243, 235, 235);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .nav1 {

        margin-right: 4rem;
    }

    .nav2 {

        text-align: center;
        margin-right: 4rem;
        margin-left: 3rem;
    }

    .n-hov3 {
        margin: -1rem !important;
    }


    .n-hov4 {

        border-right: none;

    }


    .n-hov {

        display: block;

    }

    .home-nav1 a {

        border-left: none;
        padding: 2rem 2rem;

    }

    .acc-hov {
        margin-right: 0rem !important;
        border-left: none !important;
        display: block;
    }

    .icon {
        text-align: center;
        padding-right: 0rem;
        padding-left: 0rem;

    }

    .navbar-toggler {

        background-color: #00000014;
        border: 1px solid transparent;

    }

    #header {

        text-align: center;

    }

    .header-text {
        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.5rem;
    }


    .header-img {

        width: 100%;

    }

    .h-img {

        display: none;
        visibility: hidden;

    }

    .a-img {

        display: none;
        visibility: hidden;

    }

    .h-img1 {

        display: block;
        visibility: visible;

    }

    .a-img1 {

        display: block;
        visibility: visible;

    }

    .about-text {

        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
    }

    .header-p {

        text-align: center;

    }

    .article-card {
        width: 14rem !important;
        margin: auto;
    }

    .don {

        text-align: center;
        margin-top: 1rem;
    }

    .donate-div {
        padding-top: 0rem;
    }

    .input-group {
        width: 49%;
        margin: auto;
    }

    .app-img {

        visibility: hidden;
        display: none;

    }

    .app-img1 {

        display: block;
        visibility: visible;

    }

    .app-text {

        color: rgb(27, 25, 25);
        font-weight: bold;
        margin-top: 3rem;
        text-align: center;

    }

    .app-p {

        font-size: 1rem;
        text-align: center;

    }

    .app-icon {

        width: 130px;
        height: 50px;
        text-align: center;
    }

    .app-icons {

        text-align: center;
    }

    #contact-us {

        padding: 1rem;
        background-size: cover;

        padding-bottom: 3rem;


    }

    .contact-content {

        display: block;
        margin: auto;
        margin-bottom: 2rem;

    }

    .whatsapp {

        padding: 1rem 1.1rem;
        background-color: rgb(46, 124, 46);
        color: white;
        border-radius: 50px;
        margin: auto;
        font-size: 1rem;

    }

    .wts-img {

        text-align: left;
        position: absolute;
        top: 314.8rem;
        width: 50px;
        margin-right: -0.01rem;

    }

    #footer-container {
        margin: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
    }

    .sub {

        width: 24%;

        display: contents;

    }

    .outer {

        margin: auto;
        text-align: center;
    }


    .footer-text {
        text-align: center;
        padding-bottom: 1rem;
    }

    .n-hov5 {

        padding-top: 1rem;
        margin-bottom: 0rem;

    }

    .icon2 {

        text-align: center;
        margin-right: 0rem;

    }

    .copy {

        display: inline-block;

    }

    .copy-right {

        display: flex;
        margin: auto;
        text-align: center;
        padding-top: 1rem;
        margin-right: 2rem;
    }

}

@media only screen and (min-width: 375px) and (max-width: 410px) {

    .nav1 {

        margin-right: 4rem;
    }

    .nav2 {

        text-align: center;
        margin-right: 4rem;
        margin-left: 3rem;
    }

    .underlineHover {
        float: none;
        margin-left: 0rem;
    }

    .sign {
        display: block;
        margin-left: 2rem;
    }

    .i-area {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .contact1 {

        margin-left: 0rem;
    }

    .contact2 {


        margin-top: 1rem;

    }

    .contact-data {

        margin: 0rem;

    }

    body {

        margin: auto;
        overflow-x: hidden;
        overflow-y: hidden;

    }

    .bg-light {
        text-align: center;

    }


    .home-nav {

        background: rgb(30, 30, 97);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .home-nav1 {

        background: rgb(243, 235, 235);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .n-hov4 {

        border-right: none;

    }


    .n-hov {

        display: block;

    }

    .home-nav1 a {

        border-left: none;
        padding: 2rem 2rem;

    }

    .acc-hov {
        margin-right: 0rem !important;
        border-left: none !important;
        display: block;
    }

    .icon {
        text-align: center;
        padding-right: 0rem;
        padding-left: 0rem;

    }

    .navbar-toggler {

        background-color: #00000014;
        border: 1px solid transparent;

    }

    #header {

        text-align: center;

    }

    .header-text {
        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.5rem;
    }


    .header-img {

        width: 100%;

    }

    .h-img {

        display: none;
        visibility: hidden;

    }

    .a-img {

        display: none;
        visibility: hidden;

    }

    .h-img1 {

        display: block;
        visibility: visible;

    }

    .a-img1 {

        display: block;
        visibility: visible;

    }

    .about-text {

        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
    }

    .header-p {

        text-align: center;

    }

    .article-card {

        margin: auto;
    }

    .don {

        text-align: center;
        margin-top: 1rem;
    }

    .donate-div {
        padding-top: 0rem;
    }

    .input-group {
        width: 49%;
        margin: auto;
    }

    .app-img {

        visibility: hidden;
        display: none;

    }

    .app-img1 {

        display: block;
        visibility: visible;

    }

    .app-text {

        color: rgb(27, 25, 25);
        font-weight: bold;
        margin-top: 3rem;
        text-align: center;

    }

    .app-p {

        font-size: 1rem;
        text-align: center;

    }

    .app-icon {

        width: 130px;
        height: 50px;
        text-align: center;
    }

    .app-icons {

        text-align: center;
    }

    #contact-us {

        padding: 1rem;
        background-size: cover;

        padding-bottom: 3rem;

    }

    .contact-content {

        display: block;
        margin: auto;
        margin-bottom: 2rem;

    }

    .whatsapp {

        padding: 1rem 1.1rem;
        background-color: rgb(46, 124, 46);
        color: white;
        border-radius: 50px;
        margin: auto;
        font-size: 1rem;

    }

    .wts-img {

        text-align: left;
        position: absolute;
        top: 307.8rem;
        width: 50px;
        margin-right: -0.01rem;

    }

    #footer-container {
        margin: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
    }

    .sub {

        width: 24%;

        display: contents;

    }

    .outer {

        margin: auto;
        text-align: center;
    }


    .footer-text {
        text-align: center;
        padding-bottom: 1rem;
    }

    .n-hov5 {

        padding-top: 1rem;
        margin-bottom: 0rem;

    }

    .icon2 {

        text-align: center;
        margin-right: 0rem;

    }

    .copy {

        display: inline-block;

    }

    .copy-right {

        display: flex;
        margin: auto;
        text-align: center;
        padding-top: 1rem;
        margin-right: 3rem;
    }

}


@media only screen and (min-width: 411px) and (max-width: 480px) {

    .nav1 {

        margin-right: 5rem;
    }

    .nav2 {

        text-align: center;
        margin-right: 4rem;
        margin-left: 3rem;
    }

    .underlineHover {
        float: none;
        margin-left: 0rem;
    }

    .sign {

        display: block;
        margin-left: 2rem;
    }

    .i-area {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .contact1 {

        margin-left: 0rem;
    }

    .contact2 {


        margin-top: 1rem;

    }

    .contact-data {

        margin: 0rem;

    }

    body {

        margin: auto;
        overflow-x: hidden;
        overflow-y: hidden;

    }

    .bg-light {
        text-align: center;

    }



    .home-nav {

        background: rgb(30, 30, 97);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .home-nav1 {

        background: rgb(243, 235, 235);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .n-hov4 {

        border-right: none;

    }


    .n-hov {

        display: block;

    }

    .home-nav1 a {

        border-left: none;
        padding: 2rem 2rem;

    }

    .acc-hov {
        margin-right: 0rem !important;
        border-left: none !important;
        display: block;
    }

    .icon {
        text-align: center;
        padding-right: 0rem;
        padding-left: 0rem;

    }

    .navbar-toggler {

        background-color: #00000014;
        border: 1px solid transparent;

    }

    #header {

        text-align: center;

    }

    .header-text {
        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.5rem;
    }


    .header-img {

        width: 100%;

    }

    .h-img {

        display: none;
        visibility: hidden;

    }

    .a-img {

        display: none;
        visibility: hidden;

    }

    .h-img1 {

        display: block;
        visibility: visible;

    }

    .a-img1 {

        display: block;
        visibility: visible;

    }

    .about-text {

        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
    }

    .header-p {

        text-align: center;

    }

    .article-card {

        margin: auto;
    }

    .don {

        text-align: center;
        margin-top: 1rem;
    }

    .donate-div {
        padding-top: 0rem;
    }

    .input-group {
        width: 49%;
        margin: auto;
    }

    .app-img {

        visibility: hidden;
        display: none;

    }

    .app-img1 {

        display: block;
        visibility: visible;

    }

    .app-text {

        color: rgb(27, 25, 25);
        font-weight: bold;
        margin-top: 3rem;
        text-align: center;

    }

    .app-p {

        font-size: 1rem;
        text-align: center;

    }

    .app-icon {

        width: 130px;
        height: 50px;
        text-align: center;
    }

    .app-icons {

        text-align: center;
    }

    #contact-us {

        padding: 1rem;
        background-size: cover;

        padding-bottom: 3rem;

    }

    .contact-content {

        display: block;
        margin: auto;
        margin-bottom: 2rem;

    }

    .whatsapp {

        padding: 1rem 1.1rem;
        background-color: rgb(46, 124, 46);
        color: white;
        border-radius: 50px;
        margin: auto;
        font-size: 1rem;

    }

    .wts-img {

        text-align: left;
        position: inherit;
        width: 40px;
        margin-right: -0.01rem;

    }

    #footer-container {
        margin: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
    }

    .sub {

        width: 24%;

        display: contents;

    }

    .outer {

        margin: auto;
        text-align: center;
    }


    .footer-text {
        text-align: center;
        padding-bottom: 1rem;
    }

    .n-hov5 {

        padding-top: 1rem;
        margin-bottom: 0rem;

    }

    .icon2 {

        text-align: center;
        margin-right: 0rem;

    }

    .copy {

        display: inline-block;

    }

    .copy-right {

        display: flex;
        margin: auto;
        text-align: center;
        padding-top: 1rem;
        margin-right: 3rem;
    }

}

@media only screen and (max-width: 480px) {

    #donate {

        align-content: center;
        justify-content: center;
        padding: 2rem;
    }
}

@media only screen and (min-width: 480px) and (max-width:767px) {

    body {

        margin: auto;
        overflow-x: hidden;
        overflow-y: hidden;

    }

    .bg-light {
        text-align: center;

    }

    .fa-gratipay {

        right: 26rem;

    }

    .home-nav {

        background: rgb(30, 30, 97);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .home-nav1 {

        background: rgb(243, 235, 235);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .n-hov4 {

        border-right: none;

    }


    .n-hov {

        display: block;

    }

    .home-nav1 a {

        border-left: none;
        padding: 2rem 2rem;

    }

    .acc-hov {
        margin-right: 0rem !important;
        border-left: none !important;
        display: block;
    }

    .icon {
        text-align: center;
        padding-right: 0rem;
        padding-left: 0rem;

    }

    .navbar-toggler {

        background-color: #00000014;
        border: 1px solid transparent;

    }

    #header {

        text-align: center;

    }

    .header-text {
        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.5rem;
    }


    .header-img {

        width: 100%;

    }

    .h-img {

        display: none;
        visibility: hidden;

    }

    .a-img {

        display: none;
        visibility: hidden;

    }

    .h-img1 {

        display: block;
        visibility: visible;

    }

    .a-img1 {

        display: block;
        visibility: visible;

    }

    .app-img1 {

        display: block;
        visibility: visible;

    }


    .about-text {

        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
    }

    .header-p {

        text-align: center;

    }

    .article-card {
        width: 14rem !important;
        margin: auto;
    }

    .don {

        text-align: center;
        margin-top: 1rem;
    }

    .donate-div {
        padding-top: 0rem;
    }

    .input-group {
        width: 49%;
        margin: auto;
    }

    .app-img {

        visibility: hidden;
        display: none;

    }

    .app-text {

        color: rgb(27, 25, 25);
        font-weight: bold;
        margin-top: 3rem;
        text-align: center;

    }

    .app-p {

        font-size: 1rem;
        text-align: center;

    }

    .app-icon {

        width: 130px;
        height: 50px;
        text-align: center;
    }

    .app-icons {

        text-align: center;
    }

    #contact-us {

        padding: 1rem;
        background-size: cover;

    }

    .contact-content {

        display: block;
        margin: auto;
        margin-bottom: 2rem;

    }

    .whatsapp {

        padding: 1rem 1.1rem;
        background-color: rgb(46, 124, 46);
        color: white;
        border-radius: 50px;
        margin: auto;
        font-size: 1rem;

    }

    .wts-img {

        text-align: left;
        position: absolute;
        top: 277rem;
        width: 50px;
        margin-right: -0.01rem;

    }

    #footer-container {
        margin: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
    }

    .sub {

        width: 24%;

        display: contents;

    }

    .outer {

        margin: auto;
        text-align: center;
    }


    .footer-text {
        text-align: center;
        padding-bottom: 1rem;
    }

    .n-hov5 {

        padding-top: 1rem;
        margin-bottom: 0rem;

    }

    .icon2 {

        text-align: center;
        margin-right: 0rem;

    }

    .copy {

        display: inline-block;

    }

    .copy-right {

        display: flex;
        margin: auto;
        text-align: center;
        padding-top: 1rem;
        margin-right: 3rem;
    }

}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .i-area {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .contact1 {

        margin-left: 2rem;
        max-width: 330px;
    }

    .contact2 {


        margin-top: 0rem;
        max-width: 330px;

    }

    .contact-data {

        margin: 0rem;

    }

    body {

        margin: auto;
        overflow-x: hidden;
        overflow-y: hidden;

    }

    .bg-light {
        text-align: center;

    }

    .fa-gratipay {

        right: 36rem;

    }

    .home-nav {

        background: rgb(30, 30, 97);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .home-nav1 {

        background: rgb(243, 235, 235);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .n-hov4 {

        border-right: none;

    }


    .n-hov {

        display: block;

    }

    .home-nav1 a {

        border-left: none;
        padding: 2rem 2rem;

    }

    .acc-hov {
        margin-right: 0rem !important;
        border-left: none !important;
        display: block;
    }

    .icon {
        text-align: center;
        padding-right: 0rem;
        padding-left: 0rem;

    }

    .navbar-toggler {

        background-color: #00000014;
        border: 1px solid transparent;

    }

    #header {

        text-align: center;

    }

    .header-text {
        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.5rem;
    }


    .header-img {

        width: 100%;

    }

    .h-img1 {

        display: none;
        visibility: hidden;

    }

    .a-img1 {

        display: none;
        visibility: hidden;

    }

    .a-img {

        margin-top: 10rem;
        margin-right: 0rem;
        padding: 0rem;
    }

    #about {
        padding: 0rem;
    }

    .about-text {

        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 5rem;
        text-align: center;
    }

    .header-p {

        text-align: center;

    }

    .article-card {

        margin: auto;
    }

    .don {

        text-align: right;
        margin-top: 1rem;
    }

    .donate-div {
        padding-top: 0rem;
    }

    .watch-more1 {
        margin-top: 2rem;
    }

    .input-group {
        width: 49%;
        margin: auto;
    }

    .app-img1 {

        visibility: hidden;
        display: none;

    }

    .app-img {
        margin-top: 4rem;
    }

    .app-text {

        color: rgb(27, 25, 25);
        font-weight: bold;
        margin-top: 3rem;
        text-align: center;

    }

    .app-p {

        font-size: 1rem;
        text-align: center;

    }

    .app-icon {

        width: 130px;
        height: 50px;
        text-align: center;
    }

    .app-icons {

        text-align: center;
    }

    #contact-us {

        padding: 2rem;
        background-size: cover;

    }

    .contact-content {

        display: block;
        margin: auto;
        margin-bottom: 2rem;

    }

    .whatsapp {

        padding: 1rem 1.1rem;
        background-color: rgb(46, 124, 46);
        color: white;
        border-radius: 50px;
        margin: auto;
        font-size: 1rem;

    }

    .wts-img {

        text-align: left;
        position: absolute;
        top: 209rem;
        width: 50px;
        margin-right: -0.01rem;

    }

    #footer-container {
        margin: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .sub {

        width: 24%;

        display: contents;

    }

    .outer {

        margin: auto;
        text-align: center;
    }


    .footer-text {
        text-align: center;
        padding-bottom: 1rem;
    }

    .n-hov5 {

        padding-top: 1rem;
        margin-bottom: 0rem;

    }

    .icon2 {

        text-align: center;
        margin-right: 0rem;

    }

    .copy {

        display: inline-block;

    }

    .copy-right {

        display: flex;
        text-align: center;
        padding-top: 1rem;
        margin-right: 3rem;
        margin-right: 15rem;
    }

}

@media only screen and (min-width: 1024px) and (max-width:1200px) {



    .i-area {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .contact1 {

        margin-left: 2rem;

        margin-right: 3rem;
    }

    .contact2 {


        margin-top: 0rem;


    }

    .contact-data {

        margin: 0rem;

    }

    body {

        margin: auto;
        overflow-x: hidden;
        overflow-y: hidden;

    }

    .bg-light {
        text-align: center;

    }

    .fa-gratipay {

        right: 35rem;

    }

    .home-nav {

        background: rgb(30, 30, 97);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .home-nav1 {

        background: rgb(243, 235, 235);
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        padding: 1rem;
        text-align: center;

    }

    .n-hov4 {

        border-right: none;

    }

    .nav-img {
        text-align: center;
        margin: 0 auto;
        width: 150px;
    }

    .n-hov {

        display: block;
        padding-left: 1rem !important;
    }

    .n-hov1 {

        margin-right: 3rem !important;

    }

    .home-nav1 a {


        padding: 2rem 0rem;

    }

    .acc-hov {

        margin-right: 0rem !important;
        border-left: none !important;
        display: block;
    }

    .icon {
        text-align: center;
        padding-right: 0rem;
        padding-left: 0rem;

    }

    .nav2 {

        padding-right: 2rem;
    }

    .navbar-toggler {

        background-color: #00000014;
        border: 1px solid transparent;

    }

    #header {

        text-align: center;

    }

    .header-text {

        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 3rem;

    }


    .header-img {

        width: 100%;

    }

    .h-img1 {

        display: none;
        visibility: hidden;

    }

    .a-img1 {

        display: none;
        visibility: hidden;

    }

    .a-img {

        margin-top: 10rem;
        margin-right: 0rem;
        padding: 0rem;
    }

    #about {

        padding: 0rem;
    }

    .about-text {

        color: rgb(167, 18, 18);
        font-weight: bold;
        margin-top: 8rem;
        text-align: center;
    }

    .header-p {

        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }

    .article-card {

        margin: auto;
    }

    .don {

        text-align: right;
        margin-top: 1rem;
    }

    .donate-div {
        padding-top: 0rem;
    }

    .watch-more1 {
        margin-top: 2rem;
    }

    .input-group {
        width: 49%;
        margin: auto;
    }

    .app-img1 {

        visibility: hidden;
        display: none;

    }

    .app-img {
        margin-top: 4rem;
    }

    .app-text {

        color: rgb(27, 25, 25);
        font-weight: bold;
        margin-top: 3rem;
        text-align: center;

    }

    .app-p {

        font-size: 1rem;
        text-align: center;

    }

    .app-icon {

        width: 130px;
        height: 50px;
        text-align: center;
    }

    .app-icons {

        text-align: center;
    }

    #contact-us {

        padding: 2rem;
        background-size: cover;

    }

    .contact-content {

        display: block;
        margin: auto;
        margin-bottom: 2rem;

    }

    .whatsapp {

        padding: 1rem 1.1rem;
        background-color: rgb(46, 124, 46);
        color: white;
        border-radius: 50px;
        margin: auto;
        font-size: 1rem;

    }

    .wts-img {

        text-align: left;
        position: absolute;
        top: 215rem;
        width: 50px;
        margin-right: -0.01rem;

    }

    #footer-container {
        margin: auto;
        padding-left: 0rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .footer-vec {
        padding-left: 0rem;
    }

    .outer {

        margin: auto;
        text-align: center;
    }


    .footer-text {
        text-align: center;
        padding-bottom: 1rem;
    }

    .n-hov5 {

        padding-top: 1rem;
        margin-bottom: 0rem;

    }

    .icon2 {

        text-align: center;


    }

    .copy-right {

        display: flex;
        text-align: center;
        padding-top: 1rem;
        margin-right: 21rem;
    }

    .icon2 {
        text-align: center;
        margin-right: 5rem;
    }

}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {

        float: right;
        display: block;

    }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {

    .topnav .pages-nav .responsive {

        position: relative;
        display: block;
        padding: 2rem;

    }

    #logo {

        display: none;

    }

    .topnav .pages-nav .responsive a.icon {

        position: absolute;
        right: 0;
        top: 0;
        padding: 2rem;

    }

    .topnav.responsive .pages-nav a {

        float: none;
        display: block;
        text-align: left;
    }
}